# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

name: 4.24.0$(Rev:.r)

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - '*.md'
      - '**/*.md'

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/Mvp.Selections.Api.csproj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: Assembly-Info-NetCore@3
  inputs:
    Path: '$(Build.SourcesDirectory)'
    FileNames: '**/*.csproj'
    InsertAttributes: true
    FileEncoding: 'auto'
    WriteBOM: false
    Authors: 'sc-ivanlieckens'
    Company: 'Sitecore'
    Product: 'Sitecore MVP Selections API'
    Copyright: 'Copyright (c) Sitecore 2022'
    PackageLicenseExpression: 'MIT'
    RepositoryUrl: 'https://github.com/Sitecore/Mvp.Selections.Api'
    RepositoryType: 'git'
    VersionNumber: '$(Build.BuildNumber)'
    FileVersionNumber: '$(Build.BuildNumber)'
    InformationalVersion: '$(Build.BuildNumber)'
    PackageVersion: '$(Build.BuildNumber)'
    LogLevel: 'verbose'
    FailOnWarning: false
    DisableTelemetry: true

- script: |
    dotnet restore
    dotnet build --configuration $(buildConfiguration)

- task: VSTest@2
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*.Tests.dll
      !**\obj\**
    searchFolder: '$(System.DefaultWorkingDirectory)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    arguments: '--configuration $(buildConfiguration) --output publish_output'
    projects: '$(Solution)'
    publishWebProjects: false
    modifyOutputPath: false
    zipAfterPublish: false

- task: ArchiveFiles@2
  displayName: "Archive files"
  inputs:
    rootFolderOrFile: "$(System.DefaultWorkingDirectory)/publish_output"
    includeRootFolder: false
    archiveFile: "$(Build.ArtifactStagingDirectory)/build$(Build.BuildId).zip"

- task: PublishBuildArtifacts@1
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'MVPSelectionsAPI'
    publishLocation: 'Container'